---
- name: Setup two routers for OSPF
  hosts:
   - cisco-1
   - cisco-2
  gather_facts: false

  tasks:

  - name: Setup cisco-1
    cisco.ios.config:
     src: ../templates/cisco-1.j2
     save_when: always
    when: inventory_hostname == 'cisco-1'

  - name: Setup cisco-2
    cisco.ios.config:
     src: ../templates/cisco-2.j2
     save_when: always
    when: inventory_hostname == 'cisco-2'
